# See the note in configs/proxy: deployment-owned settings only.

lobby:
  server-id: lobby-1

database:
  type: MARIADB
  host: mariadb
  port: 3306
  database: ${MARIADB_DATABASE}
  username: ${MARIADB_USER}
  password: '${MARIADB_PASSWORD}'
  use-ssl: false
  pool-size: 8

messaging:
  enabled: true
  redis:
    host: redis
    port: 6379
    username: ''
    password: '${REDIS_PASSWORD}'
    database: 0
    ssl: false
    channel-prefix: landmc
